6to4=y
ALEXA_DNS_SERVICE_SUPPORT=y
AUDIO_SUPPORT=y
AUTOREBUILD=y
AX55_PRODUCT=y
BR_wireless_security_none_unsupport=y
BTN_CHECK_FLAG=y
BUILD_NLS=y
BUILD_PATENTED=y
BUSYBOX_CONFIG_ARPING=y
BUSYBOX_CONFIG_ASH=y
BUSYBOX_CONFIG_ASH_ALIAS=y
BUSYBOX_CONFIG_ASH_BASH_COMPAT=y
BUSYBOX_CONFIG_ASH_BUILTIN_ECHO=y
BUSYBOX_CONFIG_ASH_BUILTIN_PRINTF=y
BUSYBOX_CONFIG_ASH_BUILTIN_TEST=y
BUSYBOX_CONFIG_ASH_CMDCMD=y
BUSYBOX_CONFIG_ASH_EXPAND_PRMT=y
BUSYBOX_CONFIG_ASH_GETOPTS=y
BUSYBOX_CONFIG_ASH_JOB_CONTROL=y
BUSYBOX_CONFIG_AWK=y
BUSYBOX_CONFIG_BASENAME=y
BUSYBOX_CONFIG_BB_SYSCTL=y
BUSYBOX_CONFIG_BUNZIP2=y
BUSYBOX_CONFIG_BUSYBOX_EXEC_PATH="/proc/self/exe"
BUSYBOX_CONFIG_CAT=y
BUSYBOX_CONFIG_CHGRP=y
BUSYBOX_CONFIG_CHMOD=y
BUSYBOX_CONFIG_CHOWN=y
BUSYBOX_CONFIG_CHROOT=y
BUSYBOX_CONFIG_CHRT=y
BUSYBOX_CONFIG_CLEAR=y
BUSYBOX_CONFIG_CMP=y
BUSYBOX_CONFIG_CP=y
BUSYBOX_CONFIG_CROND=y
BUSYBOX_CONFIG_CRONTAB=y
BUSYBOX_CONFIG_CROSS_COMPILER_PREFIX=""
BUSYBOX_CONFIG_CRYPTPW=y
BUSYBOX_CONFIG_CUT=y
BUSYBOX_CONFIG_DATE=y
BUSYBOX_CONFIG_DD=y
BUSYBOX_CONFIG_DEFAULT_MODULES_DIR="/lib/modules"
BUSYBOX_CONFIG_DF=y
BUSYBOX_CONFIG_DIRNAME=y
BUSYBOX_CONFIG_DMESG=y
BUSYBOX_CONFIG_DU=y
BUSYBOX_CONFIG_ECHO=y
BUSYBOX_CONFIG_ENV=y
BUSYBOX_CONFIG_EXPR=y
BUSYBOX_CONFIG_EXPR_MATH_SUPPORT_64=y
BUSYBOX_CONFIG_EXTRA_CFLAGS=""
BUSYBOX_CONFIG_FALSE=y
BUSYBOX_CONFIG_FDISK=y
BUSYBOX_CONFIG_FEATURE_ALLOW_EXEC=y
BUSYBOX_CONFIG_FEATURE_AUTOWIDTH=y
BUSYBOX_CONFIG_FEATURE_AWK_LIBM=y
BUSYBOX_CONFIG_FEATURE_BASH_IS_NONE=y
BUSYBOX_CONFIG_FEATURE_BUFFERS_GO_ON_STACK=y
BUSYBOX_CONFIG_FEATURE_CHECK_TAINTED_MODULE=y
BUSYBOX_CONFIG_FEATURE_COMPRESS_USAGE=y
BUSYBOX_CONFIG_FEATURE_COPYBUF_KB=4
BUSYBOX_CONFIG_FEATURE_CROND_DIR="/var/spool/cron"
BUSYBOX_CONFIG_FEATURE_DATE_ISOFMT=y
BUSYBOX_CONFIG_FEATURE_DD_IBS_OBS=y
BUSYBOX_CONFIG_FEATURE_DD_SIGNAL_HANDLING=y
BUSYBOX_CONFIG_FEATURE_DEVPTS=y
BUSYBOX_CONFIG_FEATURE_DMESG_PRETTY=y
BUSYBOX_CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K=y
BUSYBOX_CONFIG_FEATURE_EDITING=y
BUSYBOX_CONFIG_FEATURE_EDITING_FANCY_PROMPT=y
BUSYBOX_CONFIG_FEATURE_EDITING_HISTORY=256
BUSYBOX_CONFIG_FEATURE_EDITING_MAX_LEN=512
BUSYBOX_CONFIG_FEATURE_FANCY_ECHO=y
BUSYBOX_CONFIG_FEATURE_FANCY_HEAD=y
BUSYBOX_CONFIG_FEATURE_FANCY_PING=y
BUSYBOX_CONFIG_FEATURE_FANCY_SLEEP=y
BUSYBOX_CONFIG_FEATURE_FANCY_TAIL=y
BUSYBOX_CONFIG_FEATURE_FAST_TOP=y
BUSYBOX_CONFIG_FEATURE_FDISK_WRITABLE=y
BUSYBOX_CONFIG_FEATURE_FIND_DEPTH=y
BUSYBOX_CONFIG_FEATURE_FIND_EXEC=y
BUSYBOX_CONFIG_FEATURE_FIND_GROUP=y
BUSYBOX_CONFIG_FEATURE_FIND_MAXDEPTH=y
BUSYBOX_CONFIG_FEATURE_FIND_NOT=y
BUSYBOX_CONFIG_FEATURE_FIND_PAREN=y
BUSYBOX_CONFIG_FEATURE_FIND_PATH=y
BUSYBOX_CONFIG_FEATURE_FIND_PERM=y
BUSYBOX_CONFIG_FEATURE_FIND_PRINT0=y
BUSYBOX_CONFIG_FEATURE_FIND_PRUNE=y
BUSYBOX_CONFIG_FEATURE_FIND_REGEX=y
BUSYBOX_CONFIG_FEATURE_FIND_SIZE=y
BUSYBOX_CONFIG_FEATURE_FIND_TYPE=y
BUSYBOX_CONFIG_FEATURE_FIND_USER=y
BUSYBOX_CONFIG_FEATURE_FIND_XDEV=y
BUSYBOX_CONFIG_FEATURE_GREP_CONTEXT=y
BUSYBOX_CONFIG_FEATURE_GREP_EGREP_ALIAS=y
BUSYBOX_CONFIG_FEATURE_GREP_FGREP_ALIAS=y
BUSYBOX_CONFIG_FEATURE_HUMAN_READABLE=y
BUSYBOX_CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS=y
BUSYBOX_CONFIG_FEATURE_IFCONFIG_HW=y
BUSYBOX_CONFIG_FEATURE_IFCONFIG_STATUS=y
BUSYBOX_CONFIG_FEATURE_INIT_SYSLOG=y
BUSYBOX_CONFIG_FEATURE_IPV6=y
BUSYBOX_CONFIG_FEATURE_KLOGD_KLOGCTL=y
BUSYBOX_CONFIG_FEATURE_LESS_MAXLINES=9999999
BUSYBOX_CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT=y
BUSYBOX_CONFIG_FEATURE_LS_COLOR=y
BUSYBOX_CONFIG_FEATURE_LS_COLOR_IS_DEFAULT=y
BUSYBOX_CONFIG_FEATURE_LS_FILETYPES=y
BUSYBOX_CONFIG_FEATURE_LS_FOLLOWLINKS=y
BUSYBOX_CONFIG_FEATURE_LS_RECURSIVE=y
BUSYBOX_CONFIG_FEATURE_LS_SORTFILES=y
BUSYBOX_CONFIG_FEATURE_LS_TIMESTAMPS=y
BUSYBOX_CONFIG_FEATURE_LS_USERNAME=y
BUSYBOX_CONFIG_FEATURE_MD5_SHA1_SUM_CHECK=y
BUSYBOX_CONFIG_FEATURE_MDEV_CONF=y
BUSYBOX_CONFIG_FEATURE_MDEV_EXEC=y
BUSYBOX_CONFIG_FEATURE_MDEV_LOAD_FIRMWARE=y
BUSYBOX_CONFIG_FEATURE_MDEV_RENAME=y
BUSYBOX_CONFIG_FEATURE_MDEV_RENAME_REGEXP=y
BUSYBOX_CONFIG_FEATURE_MOUNT_CIFS=y
BUSYBOX_CONFIG_FEATURE_MOUNT_FLAGS=y
BUSYBOX_CONFIG_FEATURE_MOUNT_FSTAB=y
BUSYBOX_CONFIG_FEATURE_MOUNT_HELPERS=y
BUSYBOX_CONFIG_FEATURE_MOUNT_LOOP=y
BUSYBOX_CONFIG_FEATURE_NETSTAT_PRG=y
BUSYBOX_CONFIG_FEATURE_NETSTAT_WIDE=y
BUSYBOX_CONFIG_FEATURE_NON_POSIX_CP=y
BUSYBOX_CONFIG_FEATURE_PASSWD_WEAK_CHECK=y
BUSYBOX_CONFIG_FEATURE_PIDFILE=y
BUSYBOX_CONFIG_FEATURE_PREFER_APPLETS=y
BUSYBOX_CONFIG_FEATURE_PREFER_IPV4_ADDRESS=y
BUSYBOX_CONFIG_FEATURE_PRESERVE_HARDLINKS=y
BUSYBOX_CONFIG_FEATURE_PS_WIDE=y
BUSYBOX_CONFIG_FEATURE_READLINK_FOLLOW=y
BUSYBOX_CONFIG_FEATURE_SEAMLESS_GZ=y
BUSYBOX_CONFIG_FEATURE_SHADOWPASSWDS=y
BUSYBOX_CONFIG_FEATURE_SH_IS_ASH=y
BUSYBOX_CONFIG_FEATURE_SUID=y
BUSYBOX_CONFIG_FEATURE_SYSLOG=y
BUSYBOX_CONFIG_FEATURE_TAB_COMPLETION=y
BUSYBOX_CONFIG_FEATURE_TAR_CREATE=y
BUSYBOX_CONFIG_FEATURE_TAR_FROM=y
BUSYBOX_CONFIG_FEATURE_TAR_GNU_EXTENSIONS=y
BUSYBOX_CONFIG_FEATURE_TEE_USE_BLOCK_IO=y
BUSYBOX_CONFIG_FEATURE_TELNETD_STANDALONE=y
BUSYBOX_CONFIG_FEATURE_TELNET_TTYPE=y
BUSYBOX_CONFIG_FEATURE_TEST_64=y
BUSYBOX_CONFIG_FEATURE_TFTP_GET=y
BUSYBOX_CONFIG_FEATURE_TFTP_PUT=y
BUSYBOX_CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS=y
BUSYBOX_CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE=y
BUSYBOX_CONFIG_FEATURE_TRACEROUTE_VERBOSE=y
BUSYBOX_CONFIG_FEATURE_UDHCPC_ARPING=y
BUSYBOX_CONFIG_FEATURE_UDHCP_RFC3397=y
BUSYBOX_CONFIG_FEATURE_UMOUNT_ALL=y
BUSYBOX_CONFIG_FEATURE_USE_INITTAB=y
BUSYBOX_CONFIG_FEATURE_VERBOSE_USAGE=y
BUSYBOX_CONFIG_FEATURE_VI_ASK_TERMINAL=y
BUSYBOX_CONFIG_FEATURE_VI_COLON=y
BUSYBOX_CONFIG_FEATURE_VI_DOT_CMD=y
BUSYBOX_CONFIG_FEATURE_VI_MAX_LEN=1024
BUSYBOX_CONFIG_FEATURE_VI_OPTIMIZE_CURSOR=y
BUSYBOX_CONFIG_FEATURE_VI_READONLY=y
BUSYBOX_CONFIG_FEATURE_VI_SEARCH=y
BUSYBOX_CONFIG_FEATURE_VI_SET=y
BUSYBOX_CONFIG_FEATURE_VI_SETOPTS=y
BUSYBOX_CONFIG_FEATURE_VI_USE_SIGNALS=y
BUSYBOX_CONFIG_FEATURE_VI_WIN_RESIZE=y
BUSYBOX_CONFIG_FEATURE_VI_YANKMARK=y
BUSYBOX_CONFIG_FEATURE_WGET_AUTHENTICATION=y
BUSYBOX_CONFIG_FEATURE_WGET_LONG_OPTIONS=y
BUSYBOX_CONFIG_FEATURE_WGET_STATUSBAR=y
BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION=y
BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_QUOTES=y
BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT=y
BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM=y
BUSYBOX_CONFIG_FIND=y
BUSYBOX_CONFIG_FREE=y
BUSYBOX_CONFIG_FSYNC=y
BUSYBOX_CONFIG_GREP=y
BUSYBOX_CONFIG_GUNZIP=y
BUSYBOX_CONFIG_GZIP=y
BUSYBOX_CONFIG_HALT=y
BUSYBOX_CONFIG_HAVE_DOT_CONFIG=y
BUSYBOX_CONFIG_HEAD=y
BUSYBOX_CONFIG_HEXDUMP=y
BUSYBOX_CONFIG_HOSTID=y
BUSYBOX_CONFIG_HWCLOCK=y
BUSYBOX_CONFIG_ID=y
BUSYBOX_CONFIG_IFCONFIG=y
BUSYBOX_CONFIG_INCLUDE_SUSv2=y
BUSYBOX_CONFIG_INIT=y
BUSYBOX_CONFIG_INIT_TERMINAL_TYPE="linux"
BUSYBOX_CONFIG_INSMOD=y
BUSYBOX_CONFIG_INSTALL_APPLET_SYMLINKS=y
BUSYBOX_CONFIG_IOCTL_HEX2STR_ERROR=y
BUSYBOX_CONFIG_KILL=y
BUSYBOX_CONFIG_KILLALL=y
BUSYBOX_CONFIG_KLOGD=y
BUSYBOX_CONFIG_LESS=y
BUSYBOX_CONFIG_LFS=y
BUSYBOX_CONFIG_LN=y
BUSYBOX_CONFIG_LOCK=y
BUSYBOX_CONFIG_LOGGER=y
BUSYBOX_CONFIG_LOGIN=y
BUSYBOX_CONFIG_LOGIN_SET_PASSWD=y
BUSYBOX_CONFIG_LONG_OPTS=y
BUSYBOX_CONFIG_LS=y
BUSYBOX_CONFIG_LSMOD=y
BUSYBOX_CONFIG_MAC_ADDR=y
BUSYBOX_CONFIG_MD5SUM=y
BUSYBOX_CONFIG_MD5_SIZE_VS_SPEED=2
BUSYBOX_CONFIG_MDEV=y
BUSYBOX_CONFIG_MKDIR=y
BUSYBOX_CONFIG_MKFIFO=y
BUSYBOX_CONFIG_MKFS_EXT2=y
BUSYBOX_CONFIG_MKFS_VFAT=y
BUSYBOX_CONFIG_MKNOD=y
BUSYBOX_CONFIG_MKTEMP=y
BUSYBOX_CONFIG_MOUNT=y
BUSYBOX_CONFIG_MV=y
BUSYBOX_CONFIG_NC=y
BUSYBOX_CONFIG_NETMSG=y
BUSYBOX_CONFIG_NETSTAT=y
BUSYBOX_CONFIG_NICE=y
BUSYBOX_CONFIG_NO_DEBUG_LIB=y
BUSYBOX_CONFIG_NSLOOKUP=y
BUSYBOX_CONFIG_PASSWD=y
BUSYBOX_CONFIG_PASSWORD_MINLEN=6
BUSYBOX_CONFIG_PGREP=y
BUSYBOX_CONFIG_PIDOF=y
BUSYBOX_CONFIG_PING6=y
BUSYBOX_CONFIG_PING=y
BUSYBOX_CONFIG_PIVOT_ROOT=y
BUSYBOX_CONFIG_PLATFORM_LINUX=y
BUSYBOX_CONFIG_PREFIX="./_install"
BUSYBOX_CONFIG_PRINTF=y
BUSYBOX_CONFIG_PS=y
BUSYBOX_CONFIG_PWD=y
BUSYBOX_CONFIG_READLINK=y
BUSYBOX_CONFIG_RESET=y
BUSYBOX_CONFIG_RM=y
BUSYBOX_CONFIG_RMDIR=y
BUSYBOX_CONFIG_RMMOD=y
BUSYBOX_CONFIG_ROUTE=y
BUSYBOX_CONFIG_SED=y
BUSYBOX_CONFIG_SEQ=y
BUSYBOX_CONFIG_SHA256SUM=y
BUSYBOX_CONFIG_SHOW_USAGE=y
BUSYBOX_CONFIG_SH_MATH_SUPPORT=y
BUSYBOX_CONFIG_SH_MATH_SUPPORT_64=y
BUSYBOX_CONFIG_SLEEP=y
BUSYBOX_CONFIG_SORT=y
BUSYBOX_CONFIG_START_STOP_DAEMON=y
BUSYBOX_CONFIG_STRINGS=y
BUSYBOX_CONFIG_SWITCH_ROOT=y
BUSYBOX_CONFIG_SYNC=y
BUSYBOX_CONFIG_TAIL=y
BUSYBOX_CONFIG_TAR=y
BUSYBOX_CONFIG_TASKSET=y
BUSYBOX_CONFIG_TEE=y
BUSYBOX_CONFIG_TELNET=y
BUSYBOX_CONFIG_TELNETD=y
BUSYBOX_CONFIG_TEST=y
BUSYBOX_CONFIG_TFTP=y
BUSYBOX_CONFIG_TIME=y
BUSYBOX_CONFIG_TOP=y
BUSYBOX_CONFIG_TOUCH=y
BUSYBOX_CONFIG_TR=y
BUSYBOX_CONFIG_TRACEROUTE=y
BUSYBOX_CONFIG_TRUE=y
BUSYBOX_CONFIG_UDHCPC=y
BUSYBOX_CONFIG_UDHCPC_DEFAULT_SCRIPT="/usr/share/udhcpc/default.script"
BUSYBOX_CONFIG_UDHCPC_SLACK_FOR_BUGGY_SERVERS=80
BUSYBOX_CONFIG_UDHCP_DEBUG=0
BUSYBOX_CONFIG_UMOUNT=y
BUSYBOX_CONFIG_UNAME=y
BUSYBOX_CONFIG_UNIQ=y
BUSYBOX_CONFIG_UNZIP=y
BUSYBOX_CONFIG_UPTIME=y
BUSYBOX_CONFIG_USLEEP=y
BUSYBOX_CONFIG_VCONFIG=y
BUSYBOX_CONFIG_VERBOSE_RESOLUTION_ERRORS=y
BUSYBOX_CONFIG_VI=y
BUSYBOX_CONFIG_WATCHDOG=y
BUSYBOX_CONFIG_WC=y
BUSYBOX_CONFIG_WGET=y
BUSYBOX_CONFIG_WHICH=y
BUSYBOX_CONFIG_XARGS=y
BUSYBOX_CONFIG_YES=y
BUSYBOX_DHCP_OPTION66=y
CLIENT_MGMT_HISTORY_LIST_MAX_NUM=200
CLIENT_MGMT_HISTORY_LIST_UPTIME=y
CURL_VERSION="7.79.1"
DEVEL=y
DNSMASQ_VERSION="2.83"
DROPBEAR_ECC=y
DROPBEAR_ECC_FULL=y
DROPBEAR_VERSION="2019.78"
EXTERNAL_TOOLCHAIN=y
EXTERN_LIBS=y
EXTROOT_SETTLETIME=0
FAILED_LOGIN_ATTEMPTS_LIMIT=y
FAILED_LOGIN_ATTEMPTS_LIMIT=y
HAVE_DOT_CONFIG=y
IFADDRS=y
IFNAME_2G="ath02"
IFNAME_5G="ath12"
INSTALL_LIBSTDCPP=y
IOT_ISO_SIZE="64"
IPF_PLATFORM_QCA=y
IPV6=y
IWINFO_USE_QCA_NL80211_SUBCMD=y
IWINFO_WIRELESS_TYPE="nl80211"
JP_ENHANCED_SUPPORT=y
KERNEL_OPTIONS=y
LEDCTRL_BOARD_TYPE="board_ax53v1"
LED_ONEMESH_RTOR=y
LIBCLOUD_API_BOARD_TYPE="ipq50xx_32bit"
LIBC_FILE_SPEC="./lib/ld{-*.so,-linux*.so.*} ./lib/lib{anl,c,cidn,crypt,dl,m,nsl,nss_dns,nss_files,resolv,util}{-*.so,.so.*}"
LIBC_ROOT_DIR="../../QCASPF11_4/ilq-11-4_cs_qca/staging_dir/toolchain-arm_cortex-a7_gcc-5.2.0_musl-1.1.16_eabi"
LIBC_USE_MUSL=y
LIBGCC_FILE_SPEC="./lib/libgcc_s.so.*"
LIBGCC_ROOT_DIR="../../QCASPF11_4/ilq-11-4_cs_qca/staging_dir/toolchain-arm_cortex-a7_gcc-5.2.0_musl-1.1.16_eabi"
LIBNL_VERSION="3.5.0"
LIBPTHREAD_FILE_SPEC="./lib/libpthread{-*.so,.so.*}"
LIBPTHREAD_ROOT_DIR="../../QCASPF11_4/ilq-11-4_cs_qca/staging_dir/toolchain-arm_cortex-a7_gcc-5.2.0_musl-1.1.16_eabi"
LIBRT_FILE_SPEC="./lib/librt{-*.so,.so.*}"
LIBRT_ROOT_DIR="../../QCASPF11_4/ilq-11-4_cs_qca/staging_dir/toolchain-arm_cortex-a7_gcc-5.2.0_musl-1.1.16_eabi"
LIBSTDCPP_FILE_SPEC="./lib/libstdc++.so.6*"
LIBSTDCPP_ROOT_DIR="../../QCASPF11_4/ilq-11-4_cs_qca/staging_dir/toolchain-arm_cortex-a7_gcc-5.2.0_musl-1.1.16_eabi"
LIB_GCC_PATH=""
LINUX_KARCH="arm"
LINUX_KERNEL_PATH="../../QCASPF11_4/ilq-11-4_cs_qca/qca/src/linux-4.4"
MEM_PROTECT=y
MESHD_WIRED_CONNECT=y
MINIUPNPD_VERSION="2.2.2"
MUSL_VERSION="1.1.16"
NEED_TOOLCHAIN_LIB=y
NM_FLASH_SIZE=0x3700000
NM_PTN_NUM_MAX=64
NM_PTN_TABLE_BASE=0xe90000
NR_PLATFORM_TYPE="qca"
NSS_TRAFFIC_STATS=y
NVRAM_KERNEL=y
ONEMESH_TDP_AES_PWD="TPONEMESH_Kf!xn?gj6pMAt-wBNV_TDP"
ONEMESH_TDP_TMP_PAYLOAD_ENCRYPT_ENABLE=y
OPENSSL_VERSION="1.1.1t"
OPENVPN_EASY_RSA_VERSION="v3"
OPENVPN_VERSION="2.6.6"
OPENVPN_openssl_ENABLE_DCO=y
OPENVPN_openssl_ENABLE_DEF_AUTH=y
OPENVPN_openssl_ENABLE_FRAGMENT=y
OPENVPN_openssl_ENABLE_HTTP=y
OPENVPN_openssl_ENABLE_LZ4=y
OPENVPN_openssl_ENABLE_LZO=y
OPENVPN_openssl_ENABLE_MULTIHOME=y
OPENVPN_openssl_ENABLE_PF=y
OPENVPN_openssl_ENABLE_PORT_SHARE=y
OPENVPN_openssl_ENABLE_SERVER=y
OPENVPN_openssl_ENABLE_SMALL=y
OPENVPN_openssl_ENABLE_SOCKS=y
PCTL_IPV6=y
PRODUCT_FILE_BORAD_TYPE="board_ipq50xx_uniform"
QCA_Maple_Overlayfs_Writable=y
QCA_NSS_ECM_NSS_SAMEADDR_FIX=y
QCA_NSS_ECM_NSS_SFE_OPT=y
QCA_NSS_ECM_NSS_SFE_OPT_DEBUG=y
QCA_NSS_ECM_NSS_SFE_OPT_IPV6=y
QCA_NSS_ECM_NSS_SFE_OPT_STATS=y
QCA_NSS_SFE_PPTP_SEQ_SYNC=y
QCA_SKD_VERSION=11.0
ROOTFS_PATH="../image/ax53v1/rootfs"
SAFETHINGS_VERSION="ipq50xx_220531-2-221202_prod"
SFE_FRAGMENT_SUPPORT=y
SFE_PPP_HEADER=y
SFE_SUPPORT_NSS_QOS=y
SFE_SUPPORT_NSS_QOS_GBC_CSL=y
SFE_TRAFFIC_STATS_ON_PROCFS=y
SFE_TUNNEL_HEADER=y
SFE_VPN_CLIENT_SUPPORT=y
SG_GENERALIZATION_SUPPORT=y
SNORT_SUPPORT_IPV6=y
STRIP_ARGS="--strip-all"
SUPPORT_DUAL_NAT_DETECT=y
SUPPORT_IOS_WIN_INIT_PORTAL=y
SUPPORT_ONE_MESH2=y
SUPPORT_ONE_MESH=y
SUPPORT_ONLINE_DURATION=y
SUPPORT_PASSWD_IN_SHADOW=y
SUPPORT_PASSWD_IN_SHADOW=y
SUPPORT_SSH_DISABLE_DEFAULT=y
SUPPORT_SSH_DISABLE_DEFAULT=y
SUPPORT_SSH_USER_AGREE=y
SUPPORT_UPDATE_SSH_PORT=y
SUPPORT_VPN_CLIENT_IN_3G4G_MODULES=y
SUPPORT_WAN_CABLE_MATCH=y
SUPPORT_onboarding_page=y
SWITCH_TYPE_C4000="switchC4000"
SYSTEM_MONITOR_CPU_CORE_NUM=2
TARGET_BOARD="board_ipq50xx"
TARGET_INIT_CMD="/sbin/init"
TARGET_INIT_ENV=""
TARGET_INIT_PATH="/bin:/sbin:/usr/bin:/usr/sbin"
TARGET_INIT_SUPPRESS_STDERR=y
TARGET_NAME="arm-openwrt-linux-uclibc"
TARGET_OPTIMIZATION=""
TARGET_OPTIONS=y
TARGET_PREINIT_BROADCAST="192.168.1.255"
TARGET_PREINIT_IFNAME=""
TARGET_PREINIT_IP="192.168.1.1"
TARGET_PREINIT_NETMASK="255.255.255.0"
TARGET_PREINIT_SUPPRESS_STDERR=y
TARGET_PREINIT_TIMEOUT=2
TMP_COMP_ANTIVIRUS_WHITE_LIST=y
TMP_COMP_ANTIVIRUS_WHITE_LIST_TYPE=0x0057
TMP_COMP_ANTIVIRUS_WHITE_LIST_VER=0x0001
TMP_COMP_AP_CLOUD_UPGRADE_VER=0x0002
TMP_COMP_AUTH=y
TMP_COMP_AUTH_TYPE=0x0001
TMP_COMP_AUTH_VER=0x1001
TMP_COMP_AUTO_UPDATE=y
TMP_COMP_AUTO_UPDATE_TYPE=0x0037
TMP_COMP_AUTO_UPDATE_VER=0x0001
TMP_COMP_AVIRA_BUSCLOUDCMPTNEGO_TYPE=0x0031
TMP_COMP_AVIRA_BUSCLOUDCMPTNEGO_VER=0x0001
TMP_COMP_AVIRA_HOMECARE=y
TMP_COMP_AVIRA_HOMECARE_FREE_VER=0x0004
TMP_COMP_AVIRA_HOMECARE_PAY_NOAVIRA_VER=0x6004
TMP_COMP_AVIRA_HOMECARE_PAY_VER=0x4004
TMP_COMP_AVIRA_HOMECARE_SCAN_FREE_VER=0x0003
TMP_COMP_AVIRA_HOMECARE_SCAN_PAY_VER=0x4003
TMP_COMP_AVIRA_HOMECARE_SCAN_TYPE=0x0028
TMP_COMP_AVIRA_HOMECARE_TYPE=0x0019
TMP_COMP_AVIRA_SECINFO_FREE_VER=0x0003
TMP_COMP_AVIRA_SECINFO_PAY_NOAVIRA_VER=0x6003
TMP_COMP_AVIRA_SECINFO_PAY_VER=0x4003
TMP_COMP_AVIRA_SECINFO_TYPE=0x0018
TMP_COMP_BLOCK=y
TMP_COMP_BLOCK_TYPE=0x0003
TMP_COMP_BLOCK_VER=0x0001
TMP_COMP_BLOCK_VER_TM=0x0F
TMP_COMP_BLOCK_VER_UNSUPPORT=0xFF
TMP_COMP_CLIENT_MGNT_TYPE=0x001B
TMP_COMP_CLIENT_MGNT_VER=0x0001
TMP_COMP_CLOUD_SERVICE=y
TMP_COMP_CLOUD_SERVICE_TYPE=0x0015
TMP_COMP_CLOUD_SERVICE_VER=0x0003
TMP_COMP_CLOUD_UPGRADE=y
TMP_COMP_CLOUD_UPGRADE_TYPE=0x0013
TMP_COMP_CLOUD_UPGRADE_VER=0x0002
TMP_COMP_DEV_ISOLATION=y
TMP_COMP_DEV_ISOLATION_TYPE=0x0041
TMP_COMP_DEV_ISOLATION_VER=0x0001
TMP_COMP_EASYMESH=y
TMP_COMP_EASYMESH_TYPE=0x003E
TMP_COMP_EASYMESH_VER1=0x0001
TMP_COMP_EASYMESH_VER2=0x0002
TMP_COMP_ECO_MODE=y
TMP_COMP_ECO_MODE_TYPE=0X0060
TMP_COMP_ECO_MODE_VER=0x0001
TMP_COMP_GOOGLE_ASSISTANT=y
TMP_COMP_GOOGLE_ASSISTANT_TYPE=0x003A
TMP_COMP_GOOGLE_ASSISTANT_VER=0x0001
TMP_COMP_GUEST_NTW=y
TMP_COMP_GUEST_NTW_TYPE=0x0007
TMP_COMP_GUEST_NTW_VER=0x0004
TMP_COMP_IOT_WIRELESS=y
TMP_COMP_IOT_WIRELESS_TYPE=0x0040
TMP_COMP_IOT_WIRELESS_VER=0x0001
TMP_COMP_IPTV=y
TMP_COMP_IPTV_TYPE=0x0039
TMP_COMP_IPTV_VER=0x0001
TMP_COMP_IPV6_SETTING=y
TMP_COMP_IPV6_SETTING_TYPE=0x003B
TMP_COMP_IPV6_SETTING_VER=0x0001
TMP_COMP_LED=y
TMP_COMP_LED_TYPE=0x000B
TMP_COMP_LED_VER=0x0001
TMP_COMP_MODESWITCH=y
TMP_COMP_MODESWITCH_TYPE=0x0008
TMP_COMP_MODESWITCH_VER=0x0002
TMP_COMP_ONEMESH=y
TMP_COMP_ONEMESH_TYPE=0x0023
TMP_COMP_ONEMESH_VER=0x0010
TMP_COMP_PARENTAL_V2=y
TMP_COMP_PARENTAL_V2_TYPE=0x0004
TMP_COMP_PARENTAL_V2_VER=0x0011
TMP_COMP_POST_CLIENTINFO_TO_CLOUD=y
TMP_COMP_POST_CLIENTINFO_TO_CLOUD_TYPE=0x0058
TMP_COMP_POST_CLIENTINFO_TO_CLOUD_VER=0x0001
TMP_COMP_PRIORITY_DEVICES=y
TMP_COMP_PRIORITY_DEVICES_TYPE=0x0029
TMP_COMP_PRIORITY_DEVICES_VER=0x0001
TMP_COMP_PRIVACY_POLICY=y
TMP_COMP_PRIVACY_POLICY_TYPE=0x1034
TMP_COMP_PRIVACY_POLICY_VER=0x0001
TMP_COMP_QOS_V2=y
TMP_COMP_QOS_V2_TYPE=0x0017
TMP_COMP_QOS_V2_VER=0x0003
TMP_COMP_QUICK_SETUP=y
TMP_COMP_QUICK_SETUP_AP_FACTORY_SKIP_VER=0x0032
TMP_COMP_QUICK_SETUP_AP_FACTORY_VER=0x0031
TMP_COMP_QUICK_SETUP_AP_SUPPORT_VER=0x003A
TMP_COMP_QUICK_SETUP_AUTO_UPDATE_VER=0x0001
TMP_COMP_QUICK_SETUP_FACTORY_VER=0x0021
TMP_COMP_QUICK_SETUP_INTERNET_TEST_VER=0x0001
TMP_COMP_QUICK_SETUP_IPTV_VER=0x0001
TMP_COMP_QUICK_SETUP_SUPPORT_VER=0x002A
TMP_COMP_QUICK_SETUP_TIMEZONE_VER=0x0001
TMP_COMP_QUICK_SETUP_TYPE=0x0009
TMP_COMP_QUICK_SETUP_WAN_VER=0x0001
TMP_COMP_QUICK_SETUP_WLAN_VER=0x0001
TMP_COMP_REGION=y
TMP_COMP_REGION_SELECT_TYPE=0x0056
TMP_COMP_REGION_SELECT_VER=0x0001
TMP_COMP_REMOVE_OFFLINE_CLIENT=y
TMP_COMP_REMOVE_OFFLINE_CLIENT_V2=y
TMP_COMP_SET_EMAIL_VER=0x0012
TMP_COMP_SET_PASSWORD=y
TMP_COMP_SET_PASSWORD_TYPE=0x000A
TMP_COMP_SET_PASSWORD_VER=0x0002
TMP_COMP_SYNC_AVIRA_STATE_TYPE=0x001C
TMP_COMP_SYNC_AVIRA_STATE_VER=0x0002
TMP_COMP_SYNC_TIME_TYPE=0x000C
TMP_COMP_SYNC_TIME_VER=0x0003
TMP_COMP_SYSTIME_SETTINGS=y
TMP_COMP_SYSTIME_SETTINGS_TYPE=0x0025
TMP_COMP_SYSTIME_SETTINGS_VER=0x0002
TMP_COMP_SYS_INFO=y
TMP_COMP_SYS_INFO_TYPE=0x0002
TMP_COMP_SYS_INFO_VER=0x0001
TMP_COMP_TETHER_FOUR_NEW_UI=y
TMP_COMP_TETHER_FOUR_NEW_UI_TYPE=0x0045
TMP_COMP_TETHER_FOUR_NEW_UI_VER=0x0001
TMP_COMP_TIME_SETTING=n
TMP_COMP_TIME_SETTING_TYPE=0x000C
TMP_COMP_TIME_SETTING_VER=0x0001
TMP_COMP_TIMING_REBOOT=y
TMP_COMP_TIMING_REBOOT_TYPE=0x0022
TMP_COMP_TIMING_REBOOT_VER=0x0001
TMP_COMP_VERIFY_OLD_ACCOUNT_WITH_DEVICE=y
TMP_COMP_VERIFY_OLD_ACCOUNT_WITH_DEVICE_TYPE=0x0073
TMP_COMP_VERIFY_OLD_ACCOUNT_WITH_DEVICE_VER=0x0001
TMP_COMP_VPN_CLIENT=y
TMP_COMP_VPN_CLIENT_TYPE=0x0043
TMP_COMP_VPN_CLIENT_VER=0x0001
TMP_COMP_VPN_SERVER=y
TMP_COMP_VPN_SERVER_TYPE=0x0042
TMP_COMP_VPN_SERVER_VER=0x0002
TMP_COMP_WAN_INFO=y
TMP_COMP_WAN_INFO_TYPE=0x0005
TMP_COMP_WAN_INFO_VER=0x0001
TMP_COMP_WAN_SPEED_SUPPORT=y
TMP_COMP_WIRELESS_SCHEDULE=y
TMP_COMP_WIRELESS_SCHEDULE_TYPE=0x0024
TMP_COMP_WIRELESS_SCHEDULE_VER=0x0002
TMP_COMP_WLAN_INFO=y
TMP_COMP_WLAN_INFO_TYPE=0x0006
TMP_COMP_WLAN_INFO_VER=0x0004
TOOLCHAIN64_PREFIX="aarch64-openwrt-linux-"
TOOLCHAIN64_ROOT="../../QCASPF11_4/ilq-11-4_cs_qca/staging_dir/toolchain-aarch64_cortex-a53_gcc-5.2.0_musl-1.1.16"
TOOLCHAIN_BIN_PATH="./bin"
TOOLCHAIN_INC_PATH="./include"
TOOLCHAIN_LIB_PATH="./usr/lib ./lib"
TOOLCHAIN_PREFIX="arm-openwrt-linux-"
TOOLCHAIN_ROOT="../../QCASPF11_4/ilq-11-4_cs_qca/staging_dir/toolchain-arm_cortex-a7_gcc-5.2.0_musl-1.1.16_eabi"
TPAP_MULTI_USER_ABFA_SUPPORT=y
TPAP_ONEMESH_SUPPORT=y
TPAP_SCP_SUPPORT=y
TP_QCA_NSS_HYFI_SUPPORT=y
TP_QCA_NSS_SFE_OPT=y
UCI_REMODEL_ENABLE=y
URL_CLASS_MAPPING_TABLE_V2=y
USE_NAND_FLASH=y
USE_STRIP=y
WEBPAGES_SVR_MODEL="ax53v1"
WPA_MSG_MIN_PRIORITY=3
XTABLES_ADDONS_VERSION="v2"
accel-pptpd=y
accel-pptpd_UGLY_LOG=y
access-control=y
administration=y
agetty=y
agile_config=y
alexa=y
apsd=y
auc_secure=y
auto-upgrade=y
autodetect=y
autodial=y
avira_pay_decouple=y
avira_security_split=y
base-files=y
base-filesystem=y
basic-security=y
bedtime_optimize_support=y
blkid=y
blocking_white_list=y
blockingc=y
bonus_optimize=y
bridge=y
busybox=y
busybox_UGLY_LOG=y
ca-bundle=y
ca-certificates=y
cal=y
cfdisk=y
client-speed-limit=y
client_mgmt=y
cloud-report=y
common=y
conn-indicator=y
connmode=y
conntrack-tools=y
curl=y
dac-management=y
ddns-scripts=y
dhcp-hook-d=y
dmesg=y
dns-cache-list=y
dnslookup=y
dnsmasq=y
dnsproxy=y
dropbear=y
ds-lite=y
eco-mode=y
factory-reset=y
family_time=y
findfs=y
fing_support=y
firewall=y
flock=y
front-end-device-config=y
getopt=y
guestnetwork-bandwidth-ctrl=y
guestnetwork-effectivetime-ctrl=y
history_list=y
homeshield_cloud_features_api=y
hotplug2=y
hwclock=y
hyctl=y
imb=y
improxy=y
iotctl=y
ip6tables-extra=y
ip6tables-mod-nat=y
ip6tables=y
ip=y
iptables-mod-CHECKPORTS=y
iptables-mod-CLASSIFYMASK=y
iptables-mod-LOOPBACKDNAT=y
iptables-mod-V6PORTS=y
iptables-mod-extra=y
iptables-mod-iprange=y
iptables-mod-pctl=y
iptables-mod-trigger=y
iptables=y
iptvc=y
iputils-ping6=y
iwinfo=y
jshn=y
kmod-blockingx=y
kmod-br-filter=y
kmod-br_wifidog=y
kmod-crypto-aes=y
kmod-crypto-arc4=y
kmod-crypto-authenc=y
kmod-crypto-cbc=y
kmod-crypto-core=y
kmod-crypto-deflate=y
kmod-crypto-des=y
kmod-crypto-ecb=y
kmod-crypto-hash=y
kmod-crypto-hmac=y
kmod-crypto-iv=y
kmod-crypto-manager=y
kmod-crypto-md5=y
kmod-crypto-sha1=y
kmod-crypto-wq=y
kmod-decouple-ware=y
kmod-dhcp-hook=y
kmod-domain-dns=y
kmod-domain-libs=y
kmod-domain-redirect=y
kmod-domain-tip=y
kmod-fuse=y
kmod-gre=y
kmod-hyfi-bridge=y
kmod-input-core=y
kmod-iot-security=y
kmod-ip6-tunnel=y
kmod-ip6tables=y
kmod-ipt-CHECKPORTS=y
kmod-ipt-CLASSIFYMASK=y
kmod-ipt-LOOPBACKDNAT=y
kmod-ipt-V6PORTS=y
kmod-ipt-compat-xtables=y
kmod-ipt-conntrack-extra=y
kmod-ipt-conntrack=y
kmod-ipt-core=y
kmod-ipt-extra=y
kmod-ipt-iprange=y
kmod-ipt-nat-extra=y
kmod-ipt-nat=y
kmod-ipt-nathelper-extra=y
kmod-ipt-nathelper-rtsp=y
kmod-ipt-nathelper=y
kmod-ipt-pctl=y
kmod-ipt-trigger=y
kmod-iptunnel4=y
kmod-iptunnel6=y
kmod-iptvx=y
kmod-ipv6-pass-through=y
kmod-ipv6=y
kmod-kguest_bandwidth=y
kmod-ktrk=y
kmod-l2tp=y
kmod-lib-crc-ccitt=y
kmod-lib-textsearch=y
kmod-lib-zlib=y
kmod-liblog=y
kmod-mppe=y
kmod-nf-conntrack-netlink=y
kmod-nfnetlink=y
kmod-ovpn-dco=y
kmod-ppp=y
kmod-pppoe=y
kmod-pppol2tp=y
kmod-pppox=y
kmod-pptp=y
kmod-sched-core=y
kmod-shortcut-fe-cm=y
kmod-shortcut-fe=y
kmod-sit=y
kmod-stats=y
kmod-wireguard=y
kmod-wportal=y
lanv6=y
led-night-mode=y
ledctrl=y
libabfa=y
libauc=y
libblkid=y
libblobmsg-json=y
libbsd=y
libbz2=y
libc-ares=y
libc=y
libcap-ng=y
libcloud-api=y
libcloud-api_ver="1.3.9"
libcloud-cli=y
libcloud-https=y
libcurl=y
libdaemon=y
libdaq=y
libdnet=y
libgcc=y
libgmp=y
libhyfi-bridge=y
libifaddrs=y
libintl-full=y
libiot-security=y
libip4tc=y
libip6tc=y
libiwinfo-lua=y
libiwinfo=y
libjson-c=y
libjson=y
libledctrl=y
liblog-lua=y
liblog=y
liblogread-lua=y
liblua=y
liblzo=y
libmbedtls=y
libmesh_db_api=y
libmount=y
libncurses=y
libnetfilter-conntrack=y
libnfnetlink=y
libnl-tiny=y
libnl=y
libopenssl=y
libpcap=y
libpcre=y
libpthread=y
librpc=y
librt=y
libssh=y
libstdcpp=y
libtmpv2-lua=y
libtmpv2=y
libtrk=y
libubox=y
libubus-lua=y
libubus=y
libuci-lua=y
libuci=y
libuuid=y
libxml2=y
libxtables=y
log-i18n=y
logd=y
logd_kernel_no_msgid=y
logd_nm_limited_config_store=y
logd_nm_privacy_assets_enable=y
logger=y
logmail=y
logread=y
logreset=y
logx=y
look=y
losetup=y
lsblk=y
lua=y
luaaes=y
luac=y
luahmac=y
luarsa=y
luasec=y
luasocket=y
luci-app-firewall=y
luci-apps=y
luci-i18n-english=y
luci-lib-core=y
luci-lib-core_source=y
luci-lib-ipkg=y
luci-lib-json=y
luci-lib-nixio=y
luci-lib-nixio_notls=y
luci-lib-sys=y
luci-lib-web=y
luci-proto-core=y
luci-proto-ppp=y
luci-sgi-cgi=y
mac-oui=y
mcookie=y
meshd=y
mini_mem_upgrade=y
miniupnpd=y
monit=y
mount-utils=y
mtd=y
namei=y
nat=y
ndppd=y
netifd=y
network-roaming=y
new_client_access=y
ntpd=y
ntpd_libcares=y
nvrammanager=y
online-test=y
openssl-util=y
openssl=y
openvpn-client=y
openvpn-easy-rsa=y
openvpn-openssl=y
openvpn_UGLY_LOG=y
opkg=y
parental-control_v2=y
partx-utils=y
payment_sync=y
pppd=y
pppd_UGLY_LOG=y
pppoe-discovery=y
pptpvpn-client=y
product-file=y
qos_v2=y
radvd=y
radvd_UGLY_LOG=y
rename=y
resolveip=y
rp-pppoe-server=y
safethings=y
script-utils=y
setterm=y
sfdisk=y
smart-antenna=y
smart-ip=y
smart_home=y
snort=y
swap-utils=y
switch-setup=y
switch_led=y
sync-server=y
system-monitor=y
tc=y
tddp=y
telemetry=y
telemetry_qca=y
terminfo=y
time-schedule=y
tmp-server=y
tmp-server_2G_5G=y
tmp-server_func_easymesh=y
tmp-server_func_onemesh2=y
tmp-server_func_onemesh=y
tmp-server_func_service_auth=y
tmp-server_guest_network_v4=y
tmp-server_onemesh=y
tmp-server_qca_router=y
tmp-server_wireless_v4=y
tmpcliv2=y
tp-easymesh=y
tp_wps_led=y
tpap=y
traffic-stats=y
ubus=y
ubusd=y
uci=y
udpxy=y
uhttpd-agent_web=y
uhttpd-mod-tls=y
uhttpd-mod-tls_openssl=y
uhttpd-mod-ubus=y
uhttpd=y
url-class=y
uuidd=y
uuidgen=y
v6plus=y
vpn-dnsproxy=y
vpn-mgmt=y
wall=y
webpages-svr=y
whereis=y
wide-dhcpv6-client=y
wide-dhcpv6-server=y
wide-dhcpv6_UGLY_LOG=y
wifidog=y
wipefs=y
wireguard-tools=y
wireless-schedule-v2=y
wireless-script-qca=y
wireless-script_ARCH=IPQ5018
wireless-script_MEM_SIZE=256M
wireless-script_MODEL_TYPE=mp03.3_lowmem
wireless-script_SDK_VERSION=11.4_cs
wol_frame=y
wportalctrl=y
wps-socket=y
xl2tpd=y
xl2tpd_UGLY_LOG=y
xtables-addons=y
yandex-dns=y
zlib=y
zoneinfo-asia=y
zoneinfo-core=y
zoneinfo-northamerica=y
zoneinfo-simple=y
